<a href="https://colab.research.google.com/github/gksxogns79/BP_10_Ch6/blob/main/BP_10_Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(2,101,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [3]:
year= 0           
balance = 1000
while balance <= 2000:              #balance>= 이란 조건이 충족하지못해서 balance가 한번도 돌지못했다.
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year,"년이 걸립니다.")

11 년이 걸립니다.

In [6]:
n = 1234
sum = 0
while n > 0:
  digit = n%10
  sum = sum + digit
  n =  n // 10
  print(sum)

4
7
9
10

In [7]:
import random as rd 
while(True):
  x = rd.randint(1,10)            #랜덤함수를 활용해서 랜덤 값을 입력받음
  y = rd.randint(1,10)
  cal = int(input(str(x)+"*"+str(y)+"는"))
  if(cal == (x*y)):
    print("맞았습니다", end="")     #변수들의 곱의 값이 같으면 맞았스빈다를 출력
    break;                          # 종료할 수 있도록 break;을 걸어줌

9*2는11
7*7는49
맞았습니다

In [20]:
sum = 0
while(True):
  x = int(input("정수를 입력하시오 :"))
  sum += x
  if(x == 0):
       print("합은",sum,"입니다.")
       break

정수를 입력하시오 :1
정수를 입력하시오 :2
정수를 입력하시오 :3
정수를 입력하시오 :0
합은 6 입니다.

In [21]:
import random
for i in range(3):                 #랜덤함수를 이용하여 랜덤값 도출
  x = rd.randint(1,6)
  y = rd.randint(1,6)
  print("첫번째 주사위=",x,"두번째 주사위=",y)

첫번째 주사위= 4 두번째 주사위= 5
첫번째 주사위= 1 두번째 주사위= 3
첫번째 주사위= 6 두번째 주사위= 6

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.color("blue")
t.lt(90)

for i in range (6):
  t.fd(100); t.fd(-30); t.lt(60); t.fd(30); t.fd(-30)      #거북이가 위를 바라보기 때문에 위를 기준으로 시작
  t.rt(120); t.fd(30); t.fd(-30); t.lt(60); t.fd(-70); t.lt(60)

In [ ]:
import turtle

t = turtle.Turtle()
t.color("red")

for i in range(10):        
  for j in range(1,6):
    t.lt(144)
    t.fd(200)
    t.lt(10)

In [ ]:
import random 
import turtle

t = turtle.Turtle()
t.shape("turtle")

for i in range(10):
  x=rd.randint(-150,150)              
  y=rd.randint(-159,150)
  r=rd.randint(1,100)
      t.up()
      t.goto(x,y)
      t.down()
      t.circle(r)

In [ ]:
 import turtle
t = turtle.Turtle()
t.shape("turtle")

for i in range(5):
     t.fd(200)
     t.rt(90)
     t.fd(20)
     t.rt(90)
     t.fd(200)
     t.lt(90)
     t.fd(20)
     t.lt(90)

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.color("red","yellow")
t.begin_fill()                 #색을 칠한다
while True:
    t.forward(200)
    t.left(170)
    if abs(t.pos())< 1:        #거북이의 위치가 0이되면 break를 사용하여 종료한다
        break
t.end_fill

In [ ]:
import turtle
import math

t = turtle.Turtle
t.shape("turtle")
t.color("red")

for i in range(360):
    sine=math.sin(math.pi*i/180)
    print(sine)
    t.goto(i,sine*100)